name: Code Quality Checks

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15-alpine
        env:
          POSTGRES_USER: ${{ secrets.TEST_USER }}
          POSTGRES_PASSWORD: ${{ secrets.TEST_PASSWORD }}
          POSTGRES_DB: ${{ secrets.TEST_DB }}
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'

      - name: Install Poetry
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          echo "$HOME/.local/bin" >> $GITHUB_PATH
      - name: Install dependencies
        run: poetry install --no-root --no-interaction --no-ansi

      - name: Run ruff (Linting)
        run: poetry run ruff check .

      - name: Wait for Postgres
        run: |
          until pg_isready -h localhost -p 5432; do
            echo "Waiting for Postgres..."
            sleep 1
          done
      - name: Run Django Migration
        env:
          DB_USER: ${{ secrets.TEST_USER }}
          DB_PASSWORD: ${{ secrets.TEST_PASSWORD }}
          DB_NAME: ${{ secrets.TEST_DB }}
          DB_HOST: localhost
          DB_PORT: 5432
          SECRET_KEY: test-secret-key
          DEBUG: "True"
        run: poetry run python manage.py migrate

      - name: Run Django Tests
        env:
          DB_USER: ${{ secrets.TEST_USER }}
          DB_PASSWORD: ${{ secrets.TEST_PASSWORD }}
          DB_NAME: ${{ secrets.TEST_DB }}
          DB_HOST: localhost
          DB_PORT: 5432
          SECRET_KEY: test-secret-key
          DEBUG: "True"
        run: poetry run python manage.py test